<li>
    {{this.burger_name}}
    <button class="change-stat" data-id="{{this.id}}" data-newStat="{{devour}}" data-name ="{{this.burger_name}}">
        {{#if devour}}DEVOURED IS true!{{else}}DEVOURED IS false!{{/if}}
    </button>

</li>
